<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>新增动态</title>
    <link rel="stylesheet" type="text/css" href="../../summernote/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../../summernote/summernote.css" />
    <link rel="stylesheet" type="text/css" href="../../summernote/base.css" />
    <script type="text/javascript" src="../../summernote/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../summernote/bootstrap.js"></script>
    <script type="text/javascript" src="../../summernote/summernote.js"></script>
</head>
<link href="../../css/adminstyle.css" rel="stylesheet"/>
<!--<link href="../../css/bootstrap.min.css" rel="stylesheet"/>-->
<!--<link href="../../editor/themes/default/default.css" rel="stylesheet"/>-->
<body>
<section class="wheelplanting_section" id="Page_WheelPlanting">
    <div class="container" style="padding: 0;margin-top: 20px;">
        <div class="row">
            <div>
                <img alt="logo" th:src="@{${nowuser.userPic}}" style="height:118px">
            </div>
            <div class="col-xs-8 content_title">
                <a th:utext="${nowuser.userNickname}"></a>
            </div>
        </div>
    </div>
</section>
<div>
    <div align="center" class="container-fluid">
        <h2 align="center" th:text="${news!=null}?'修改动态信息':'添加动态信息'"></h2>
        <form align="center" enctype="multipart/form-data" id="addnews" method="post" th:action="@{/addnews}">
            <!--<input name="_method" th:if="${news!=null}" type="hidden" value="put"/>-->
            <!--<input name="newsId" th:if="${news!=null}" th:value="${news.newsId}" type="hidden"/>-->
            <table align="center" class="table table-hover" id="newsdate" style="width: 1500px;">
                <tbody>
                <!--<tr>-->
                <!--<td class="tabTd">新闻编号</td>-->
                <!--<td><input type="number" class="shor" name="newsId" th:value="${news!=null}?${news.newsId}"> </td>-->
                <!--</tr>-->
                <tr>
                    <td class="tabTd">动态标题</td>
                    <td><input class="long" name="newsTitle" th:value="${news!=null}?${news.newsTitle}" type="text">
                    </td>
                </tr>
                <!--<tr style="display: none;">-->
                    <!--<td class="tabTd">动态作者</td>-->
                    <!--<td><input class="shor" name="newsAuthor" th:value="${news!=null}?${news.newsAuthor}:'admin'"-->
                               <!--type="text">-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="tabTd">新闻发布时间</td>-->
                    <!--<td><input class="shor" id="newstime" name="newsTime"-->
                               <!--th:value="${news!=null}?${#dates.format(news.newsTime,'yyyy-MM-dd')}"-->
                               <!--type="date"></td>-->
                <!--</tr>-->
                <tr>
                    <td class="tabTd">动态内容</td>
                    <td><textarea name="newsContent" id="summernote"></textarea>
                    <input type="hidden" id="newscontent" th:value="${news!=null}?${news.newsContent}"/></td>
                </tr>
                <tr>
                    <td class="tabTd">动态摘要</td>
                    <td>
                        <textarea rows="5" cols="80"  name="newsSummary" th:value="${news!=null}?${news.newsSummary}"
                                  type="text"></textarea>
                    </td>
                </tr>
                <tr style="display: none">
                    <td class="tabTd" id="image">动态图片地址</td>
                    <td><input name="newsImage" placeholder="无需输入图片地址"
                               th:value="${news!=null}?${news.newsPic}"></td>
                </tr>
                </tbody>
            </table>
            <button type="reset" class="btn btn-primary" style="margin-top:20px;margin-bottom: 100px;">重置
            </button>
            <button type="submit" class="btn btn-primary" th:text="${news!=null}?'修改':'添加'"
                    style="margin-top:20px;margin-bottom: 100px;">
            </button>
        </form>
    </div>
</div>
</body>
<script>
    $(function () {
        var innerhtml = $("#newscontent").val();
        console.log(innerhtml);
        $("#summernote").val(innerhtml);
    })
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            width: 800,
            lang: 'zh-CN',
            focus: true,
            callbacks:{  //回调函数，覆盖上传方法onImageUpload
                onImageUpload: function(files) {
                    sendFile(files[0]);
                }
            }
        });
        function sendFile(files) {
            data = new FormData();
            data.append("files", files);
            $.ajax({
                data: data,
                dataType: 'json',
                type: "POST",
                url: "/img",  //上传处理action
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    console.log(data);
                    $('#summernote').summernote('insertImage', data.filename);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            });
        }
    });
    //给时间选择器一个默认时间
    // var defaultDate = document.getElementById("newstime");
    // document.write(String.valueOf(defaultDate.value));
    // document.write($("#newstime").length)
    // if ($("#newstime").length >0)
    // {
    //     document.write(String.valueOf(defaultDate.newsTime));
    //     defaultDate.valueAsDate = new Date();
    // }
    // var editor;
    // KindEditor.ready(function(K) {
    //     editor = K.create('textarea[name="newsContent"]', {
    //         resizeType : 1,
    //         allowPreviewEmoticons: false,
    //         allowImageUpload:true,//允许上传图片
    //         allowFileManager:true, //允许对上传图片进行管理
    //         uploadJson : '../..//file/image/news/',
    //         fileManagerJson:'../..//file/image/news/',
    //         afterUpload: function(){this.sync();}, //图片上传后，将上传内容同步到textarea中
    //         afterBlur: function(){this.sync();},   ////失去焦点时，将上传内容同步到textarea中
    //     });
    // });
    //第二次尝试kindeditor方法
//     KindEditor.ready(function (K) {
//         window.editor = K.create('#editor_id', {
//             //这里是指定的文件上传input的的属性名
//             // filePostName: "uploadFile",
//             //这里就是指定文件上传的请求地址，上面也已经说了，upload_json.jsp就相当去一个servlet去进行保存文件，这个地方很重要
//             uploadJson: '../../kindeditor/',
//             resizeType: 1,
//             fileManagerJson: '../../kindeditor/jsp/',
//             allowPreviewEmoticons: true,
//             allowImageUpload: true,
//             allowFileManager: true, //允许对上传图片进行管理
//             extraFileUploadParams: {"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()},
//             afterUpload: function () {
//                 this.sync();
//             }, //图片上传后，将上传内容同步到textarea中
//             afterBlur: function () {
//                 this.sync();
//             },   ////失去焦点时，将上传内容同步到textarea中
//             // afterCreate : function() {
//             //     var self = this;
//             //     K.ctrl(document, 13, function() {
//             //         self.sync();
//             //         document.forms['newsform'].submit();
//             //     });
//             //     K.ctrl(self.edit.doc, 13, function() {
//             //         self.sync();
//             //         document.forms['newsform'].submit();
//             //     });
//             // }
//             afterCreate: function () {
//                 var editerDoc = this.edit.doc;//得到编辑器的文档对象
//                 //监听粘贴事件, 包括右键粘贴和ctrl+v
//                 $(editerDoc).bind('paste', null, function (e) {
//                     /*获得操作系统剪切板里的项目，e即kindeditor,
// 17              *kindeditor创建了originalEvent(源事件)对象，
// 18              *并指向了浏览器的事件对象，而chrome浏览器
// 19              *需要通过clipboardData(剪贴板数据)对象的items
// 20              *获得复制的图片数据。
// 21              */
//                     var ele = e.originalEvent.clipboardData.items;
//                     for (var i = 0; i < ele.length; ++i) {
//                         //判断文件类型
//                         if (ele[i].kind == 'file' && ele[i].type.indexOf('image/') !== -1) {
//                             var file = ele[i].getAsFile();//得到二进制数据
//                             //创建表单对象，建立name=value的表单数据。
//                             var formData = new FormData();
//                             formData.append("imgFile", file);//name,value
//
//                             //用jquery Ajax 上传二进制数据
//                             $.ajax({
//                                 url: '/fileupload?dir=image',
//                                 type: 'POST',
//                                 data: formData,
//                                 // 告诉jQuery不要去处理发送的数据
//                                 processData: false,
//                                 // 告诉jQuery不要去设置Content-Type请求头
//                                 contentType: false,
//                                 dataType: "json",
//                                 beforeSend: function () {
//                                     //console.log("正在进行，请稍候");
//                                 },
//                                 success: function (responseStr) {
//                                     //上传完之后，生成图片标签回显图片，假定服务器返回url。
//                                     var src = responseStr.url;
//                                     var imgTag = "<img src='" + src + "' border='0'/>";
//
//                                     //console.info(imgTag);
//                                     //kindeditor提供了一个在焦点位置插入HTML的函数，调用此函数即可。
//                                     kindeEditor.insertHtml(imgTag);
//
//
//                                 },
//                                 error: function (responseStr) {
//                                     console.log("error");
//                                 }
//                             });
//
//                         }
//
//                     }
//                 });
//             }
//         });
//     });
    function newsTime() {
        return new Date();
    }
</script>
</html>
